//lyt-single-page
.lyt-single-page{

    .sp-title{
        @include font-source-sans(7.2rem,7.8rem, $font1, $font-medium, $clr-base, uppercase);
        letter-spacing: 1.4rem;
    }

    .sp-head{
        margin-bottom: 17.2rem;
        text-align: center;
    }

    .sp-desc{
        max-width: 92.4rem;
        text-align: left;
        margin: 8rem auto 0;
        
        p{
            @include font-source-sans(2.4rem,3.2rem, $font2, $font-regular, $clr-base, initial);
            margin-bottom: 3rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

}