.lyt-tile-grid {
  &.typ-tileof3 {
    .bs-tile {
      .title {
        @include font-source-sans(3.6rem, normal);
        width: 20%;

        @include mq-below($xs){
          @include font-source-sans(1.6rem);
        }
      }
    }
  }

  .grid-item{
    transition: all 0.3s ease;

    &:hover{
      opacity: 1 !important;
    }
  }

  &:hover{

    .grid-item{
      opacity: 0.5;
    }

  }
}