//lyt-service
.lyt-service{
    .list-item{
        @include mq-below($xs) {
            margin-bottom: 2rem;
        }

        &:nth-child(even){
            .bs-service{
                flex-direction: row-reverse;

                @include mq-below($xs){
                    flex-direction: column;
                }

                .water-mark{
                    color: $clr-secondary;
                }
                .feature-list{
                    .feature-item{
                        color: $clr-secondary;
                        &:after{
                            background-color: $clr-secondary;
                        }
                    }
                }
                .btn{
                    &.btn-default{
                        border-color: $clr-secondary;
                        &:before{
                            background-color: $clr-secondary;
                        }
                        span{
                            color: $clr-secondary;
                        }
                    }
                }
            }
        }
        &:first-child{
            .bs-service{
                .water-mark{
                    top: -9rem;
                    left: -22rem;

                    @include mq-below($xs) {
                        top: -16rem;
                        left: 0;
                    }
                }
            }
        }
        &:nth-child(2){
            .bs-service{
                .water-mark{
                    top: -9rem;
                    left: -10rem;

                    @include mq-below($xs) {
                        top: -16rem;
                        left: 0;
                    }
                }
            }
        }
        &:nth-child(3){
            .bs-service{
                .water-mark{
                    top: -9rem;
                    left: auto;
                    right: 7rem;

                    @include mq-below($xs){
                        top: -16rem;
                    }
                }
            }
        }
        &:nth-child(4){
            .bs-service{
                .water-mark{
                    top: -9rem;
                    left: -10rem;

                    @include mq-below($xs){
                        top: -16rem;
                        left: 0;
                    }
                }
                .info-wrap{
                    margin-left: 19rem;

                    @include mq-below($xs){
                        margin-left: 0;
                    }
                }
            }
        }
        &:last-child{
            .bs-service{
                .water-mark{
                    top: -9rem;
                    left: auto;
                    right: -8rem;

                    @include mq-below($xs){
                        top: -16rem;
                        left: 0;
                        right:0;
                    }
                }
            }
        }
    }
}