@include mq-above($md){
    html {
        font-size: 7px;
    }
}

@include mq-between($lg, $xl){
    html {
        font-size: 7.8px;
    }
}

@include mq-between($xl, $xxl){
    html {
        font-size: 9px;
    }
}

@include mq-above($xxl){
    html {
        font-size: 10px;
    }
}

body {
    @include font-source-sans(2.4rem,3.2rem, $font2, $font-regular, $clr-base, initial);
    background: $clr-root;
    width: 100%;
    overflow-x: hidden !important;
    @include scrollbars(6px, $clr-primary-shade, $clr-root);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-family: inherit;
}

img {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $clr-base;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        color: $clr-base;
    }
}

textarea {
    resize: none;
}

button {
    background: transparent;
    cursor: pointer;
    &:focus {
        outline: none !important;
    }
}

.cm-line-break {
    display: block;
}

.cm-container{
    max-width: 172rem;
    margin: 0 auto;
    @include mq-above ($lg) {
        padding: 0 6rem;
    }
    @include mq-below($xs){
        max-width: initial;
        width: 100%;
        padding: 0 1.5rem;
    }
}

.cm-paddtop-30{
    padding-top: 30rem !important;
}

.cm-no-pad-top{
    padding-top: 0 !important;
}

.cm-no-pad-bottom{
    padding-bottom: 0 !important;
}

.cm-hide {
    display: none;
}

.cm-highlight{
    position: relative;

    &:before{
        content:'';
        left: 0;
        top: 0;
        bottom: 0;
        right: 60%;
        position: absolute;
        z-index: -1;
    }

    &.highlight-primary{
        &:before{
            background: rgba(64,196,226,1);
            background: -moz-linear-gradient(left, rgba(64,196,226,1) 0%, rgba(64,198,231,0.5) 54%, rgba(64,198,231,0) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(64,196,226,1)), color-stop(54%, rgba(64,198,231,0.5)), color-stop(100%, rgba(64,198,231,0)));
            background: -webkit-linear-gradient(left, rgba(64,196,226,1) 0%, rgba(64,198,231,0.5) 54%, rgba(64,198,231,0) 100%);
            background: -o-linear-gradient(left, rgba(64,196,226,1) 0%, rgba(64,198,231,0.5) 54%, rgba(64,198,231,0) 100%);
            background: -ms-linear-gradient(left, rgba(64,196,226,1) 0%, rgba(64,198,231,0.5) 54%, rgba(64,198,231,0) 100%);
            background: linear-gradient(to right, rgba(64,196,226,1) 0%, rgba(64,198,231,0.5) 54%, rgba(64,198,231,0) 100%);
            filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#40c4e2', endColorstr='#40c6e7', GradientType=1 )";
        }
    }
    &.highlight-secondary{
        &:before{
            background: rgba(243,145,32,1);
            background: -moz-linear-gradient(left, rgba(243,145,32,1) 0%, rgba(243,145,32,0.5) 54%, rgba(243,145,32,0) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,145,32,1)), color-stop(54%, rgba(243,145,32,0.5)), color-stop(100%, rgba(243,145,32,0)));
            background: -webkit-linear-gradient(left, rgba(243,145,32,1) 0%, rgba(243,145,32,0.5) 54%, rgba(243,145,32,0) 100%);
            background: -o-linear-gradient(left, rgba(243,145,32,1) 0%, rgba(243,145,32,0.5) 54%, rgba(243,145,32,0) 100%);
            background: -ms-linear-gradient(left, rgba(243,145,32,1) 0%, rgba(243,145,32,0.5) 54%, rgba(243,145,32,0) 100%);
            background: linear-gradient(to right, rgba(243,145,32,1) 0%, rgba(243,145,32,0.5) 54%, rgba(243,145,32,0) 100%);
            filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39120', endColorstr='#f39120', GradientType=1 )";
        }
    }
}

.cm-visible-xs{
    display: none !important;
    @include mq-below($xs){
        display: block !important;
    }
}


  