//mod-list
.mod-list{

    .details-list {
        .item {
            margin-bottom: 4rem;

            @include mq-below($xs) {
                margin-bottom: 1rem;
            }

            &:last-child {
                margin-bottom: 0;

                @include mq-below($xs) {
                    margin-bottom: 1rem;
                }
            }

            p {
                font-family: $font1;
                font-weight: $font-smbold;
                padding-left: 1rem;
                position: relative;

                @include mq-below($xs) {
                    font-weight: $font-medium;
                }
                
                &:before {
                    content:'';
                    width: 0.6rem;
                    height: 0.6rem;
                    background-color: $clr-base;
                    border-radius: 5rem;
                    position: absolute;
                    top: 1.2rem;
                    left: 0;

                    @include mq-below($xs) {
                        width: 0.3rem;
                        height: 0.3rem;
                        top: 0.5rem;
                    } 
                }
            }
        }
    }

    .sub-list-wrap {
        .sub-item {
            @include font-source-sans(2.4rem, 1.33, $font1, $font-light, $clr-base, initial);
            opacity: 0.8;
            padding: 1rem 0;

            @include mq-below($xs) {
                @include font-source-sans(1.2rem);
                padding: 0.5rem 0 ;
            } 
        }
    }

    &.typ-number{
        counter-reset: section;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        width: 146rem;
        margin: 0 auto;

        @include mq-below($xs) {
            flex-direction: column;
            width: 100%;
        }

        .list-item{
            width: 50%;
            counter-increment: section;
            padding-left: 5rem;
            position: relative;
            margin-bottom: 10rem;

            @include mq-below($xs) {
               width: 100%;
               padding-left: 2rem;
               margin-bottom: 2rem;
            }

            &:before{
                content: counter(section) ". ";
                @include font-source-sans(3.6rem,3.8rem, $font1, $font-smbold, $clr-primary, uppercase);
                position: absolute;
                left: 0;

                @include mq-below($xs) {
                    @include font-source-sans(1.8rem, 1.9rem);
                }
            }
            >p{
                @include font-source-sans(3.6rem,3.8rem, $font1, $font-smbold, $clr-primary, uppercase);
                letter-spacing: 0.03rem;
                margin-bottom: 4rem;

                @include mq-below($xs) {
                    @include font-source-sans(1.4rem, 1.5rem);
                    margin-bottom: 1.5rem;
                }
            }
        }

        .mod-list{
            &.typ-disc{
                margin-left: -2.8rem;

                @include mq-below($xs){
                    margin-left: 0;
                }

                .item{
                    max-width: 58rem;
                    @include mq-below($xs){
                        max-width: 100%;
                    }
                }
            }
        }

    }

    &.typ-disc{

        .item{
            list-style-type: disc;
            margin-bottom: 4rem;

            @include mq-below($xs){
                margin-bottom: 1.5rem;
            }

            &:last-child{
                margin-bottom: 0;
            }
            >p{
                @include font-source-sans(2.4rem,3.2rem, $font1, $font-light, $clr-base, initial);
                @include mq-below($xs){
                    @include font-source-sans(1.2rem, 1.6rem);
                }
            }
        }

    }

    &.typ-italic{

        .list-item{

            >p{
                @include font-source-sans(3.6rem,3.8rem, $font1, $font-bold, $clr-primary, uppercase);
                font-style: italic;
                letter-spacing: 0.03rem;
                margin-bottom: 6rem;

                @include mq-below($xs){
                    @include font-source-sans(1.8rem,normal);
                    margin-bottom: 1rem;
                    letter-spacing: normal;
                }
            }

        }

        .mod-list{
            &.typ-disc{
                padding-left: 2.4rem;

                @include mq-below($xs){
                    padding-left: 1.5rem;
                }

                .item{
                    margin-bottom: 2rem;

                    @include mq-below($xs){
                        margin-bottom: 1rem;
                    }

                    &:last-child{
                        margin-bottom: 0
                    }
                }
                
            }
        }


    }

    &.typ-bold{

        >.item{
            >p{
                @include font-source-sans(2.4rem,3.2rem, $font2, $font-regular, $clr-base, initial);
                margin-bottom: 4rem;
                @include mq-below($xs){
                    @include font-source-sans(1.2rem, 1.5);
                    margin-bottom: 2rem;
                }
                
                &.title{
                    @include font-source-sans(3.2rem,4rem, $font1, $font-smbold, $clr-base, uppercase);
                    font-style: italic;
                    letter-spacing: 0.03rem;
                    margin-bottom: 3rem;

                    @include mq-below($xs){
                        @include font-source-sans(1.2rem,normal);
                        margin-bottom: 1.5rem;
                    }
    
                }
            }
            

        }

    }

    &.typ-grid{
        width: 106.9rem;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;

        @include mq-below($xs){
            width: 100%;
            flex-direction: column;
        }
        
        >.item{
            width: 50%;
            margin-bottom: 6rem;

            @include mq-below($xs){
                width: 100%;
                margin-bottom: 2rem;
            }
        }

    }

    &.typ-icon {
        .list-item{
            position: relative;
            margin-bottom: 4rem;
            padding-left: 5rem;

            @include mq-below($xs){
                margin-bottom: 2rem;
                padding-left: 2rem;
            }

            &:last-child{
                margin-bottom: 0;
            }
            &:before {
                content: '\e906';
                font-family: 'icomoon' !important;
                position: absolute;
                font-size: 3rem;
                color: $clr-primary;
                top: 50%;
                left: 0;
                transform: translateY(-50%);

                @include mq-below($xs) {
                    font-size: 1.5rem;
                    top: 0;
                    transform: none;
                }
            }
            >p{
                @include font-source-sans(2.4rem,3.2rem, $font1, $font-smbold, $clr-base, initial);
                opacity: 0.8;
                font-style: italic;

                @include mq-below($xs) {
                    @include font-source-sans(1.2rem, 1.6rem);
                }
            }
        }
    }
}