//mod-benefits
.mod-benefits{
    max-width: 148rem;
    display: flex;
    margin: 0 auto;
    align-items: flex-start;

    @include mq-below($xs){
        flex-direction: column;
    }

    .list-wrap{
        padding: 0 6rem;
        width: 33.33%;

        @include mq-below($xs) {
            padding: 0 3rem;
            width: 100%;
        }
    }

    .text{
        @include font-source-sans(3.2rem,3.6rem, $font2, $font-bold, $clr-base, uppercase);
        font-style: italic;

        @include mq-below($xs) {
            @include font-source-sans(1.6rem, 1.8rem);
        }

        .light{
            font-weight: $font-light;
        }
    }

    .item{
        margin-bottom: 2rem;
        position: relative;
        &:before{
            content:'-';
            @include font-source-sans(3.2rem,3.6rem, $font2, $font-bold, $clr-base, uppercase);
            position: absolute;
            left: -2rem;
            top: -0.3rem;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }

    &.typ-clarity-benefits {
        max-width: 100%;
        margin: unset;

        .list-wrap {
            padding: 0 6rem 0 2rem;

            @include mq-below($xs) {
                padding: 0 0 0 1rem;
                margin-bottom: 2rem;
            }
        }
    }

}