//mod-list
.mod-list{

    &.typ-number{
        counter-reset: section;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        width: 146rem;
        margin: 0 auto;

        .list-item{
            width: 50%;
            counter-increment: section;
            padding-left: 5rem;
            position: relative;
            margin-bottom: 10rem;
            &:before{
                content: counter(section) ". ";
                @include font-source-sans(3.6rem,3.8rem, $font1, $font-smbold, $clr-primary, uppercase);
                position: absolute;
                left: 0;
            }
            >p{
                @include font-source-sans(3.6rem,3.8rem, $font1, $font-smbold, $clr-primary, uppercase);
                letter-spacing: 0.03rem;
                margin-bottom: 4rem;
            }
        }

        .mod-list{
            &.typ-disc{
                margin-left: -2.8rem;
                .item{
                    max-width: 58rem;
                }
            }
        }

    }

    &.typ-disc{

        .item{
            list-style-type: disc;
            margin-bottom: 4rem;
            &:last-child{
                margin-bottom: 0;
            }
            >p{
                @include font-source-sans(2.4rem,3.2rem, $font1, $font-light, $clr-base, initial);
            }
        }

    }

    &.typ-italic{

        .list-item{

            >p{
                @include font-source-sans(3.6rem,3.8rem, $font1, $font-bold, $clr-primary, uppercase);
                font-style: italic;
                letter-spacing: 0.03rem;
                margin-bottom: 6rem;
            }

        }

        .mod-list{
            &.typ-disc{
                padding-left: 2.4rem;
                .item{
                    margin-bottom: 2rem;
                    &:last-child{
                        margin-bottom: 0
                    }
                }
                
            }
        }


    }

    &.typ-bold{

        >.item{
            >p{
                @include font-source-sans(2.4rem,3.2rem, $font2, $font-regular, $clr-base, initial);
                margin-bottom: 4rem;
                &.title{
                    @include font-source-sans(3.2rem,4rem, $font1, $font-smbold, $clr-base, uppercase);
                    font-style: italic;
                    letter-spacing: 0.03rem;
                    margin-bottom: 3rem;
    
                }
            }
            

        }

    }

    &.typ-grid{
        width: 106.9rem;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;

        >.item{
            width: 50%;
            margin-bottom: 6rem;
        }

    }


}