.mod-logo-list {
  display: flex;
  align-items: flex-start;
  column-gap: 15%;

  @include mq-below($xs) {
    align-items: center;
    margin-top: 3rem;
  }

  .logo-item {
    @include mq-below($xs) {
      margin-bottom: 0;
      width: 50%;
    }

    &:last-child {
      @include mq-below($xs) {
        margin-bottom: 0;
      }
    }

    .m-logo {
      @include mq-below($xs) {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}