.bs-tabs {
  .tab-nav {
    margin-bottom: 17rem;
  }

  .MuiTabs-flexContainer {
    justify-content: center;
    align-items: center;
  }

  .btn-tab {
    @include font-source-sans(3.2rem, normal, $font1, $font-smbold, $clr-hover, initial);
    padding: 1.2rem 4.5rem;
  }

  .btn-tab{
    &.Mui-selected {
      color: $clr-secondary;
    }
  }
  

  .MuiTabs-indicator {
    background-color: $clr-secondary !important;
  }

  .MuiTypography-root {
    font-size: unset;
  }
}