.bs-videoplayer {
  position: relative;
  overflow: hidden;
  .playerWrapper {
    position: relative;
    >div {
      min-height: 52.8rem;
    }

    .action-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .icon {
        font-size: 9rem;
        color: $clr-primary;
      }
    }
  }

  .controls{
    position: absolute;
    left: 3rem;
    right: 3rem;
    bottom: 2rem;
    z-index: 1;
    transition: all 0.3s ease;
    transform: translateY(150%);
  }

  .play-controls-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left-cont {
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &:hover{
    .controls{
      transform: translateY(0);
    }
  }
}