.bs-tabs {
  .tab-nav {
    margin-bottom: 17rem;

    @include mq-below($xs) {
      margin-bottom: 2rem;
    }
  }

  .MuiTabs-flexContainer {
    justify-content: center;
    align-items: center;
  }

  .btn-tab {
    @include font-source-sans(3.2rem, normal, $font1, $font-smbold, $clr-hover, initial);
    padding: 1.2rem 4.5rem;

    @include mq-below($xs) {
      @include font-source-sans(0.8rem, normal);
      padding: 0.6rem 0.4rem;
    }
  }

  .btn-tab{
    &.Mui-selected {
      color: $clr-secondary;
    }
  }
  

  .MuiTabs-indicator {
    background-color: $clr-secondary !important;
  }

  .MuiTypography-root {
    font-size: unset;
  }

  .tab-content {
    .MuiBox-root {
      @include mq-below($xs) {
        padding: 0;
      }
    }
  }
}