.bs-videoplayer {
  position: relative;
  overflow: hidden;

  .playerWrapper {
    position: relative;

    >div {
      min-height: 52.8rem;

      @include mq-below($xs) {
        min-height: auto;
        height: auto !important;
      }
    }

    .action-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .icon {
        font-size: 9rem;
        color: $clr-primary;

        @include mq-below($xs) {
          font-size: 3rem;
        }
      }
    }

    iframe {
      height: 100vh;

      @include mq-below($xs) {
        height: 82vh;
      }
    }

    .mod-gif {
      iframe {
        height: 100%;
      }
    }
  }

  .controls {
    position: absolute;
    left: 10rem;
    right: 10rem;
    bottom: 2rem;
    z-index: 1;
    transition: all 0.3s ease;
    transform: translateY(150%);

    @include mq-below($xs) {
      position: unset;
    }
  }

  .play-controls-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left-cont {
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq-below($xs) {
      justify-content: flex-start;
    }

    .video_time {
      @include mq-below($xs) {
        margin-left: 0.4rem;
      }
    }
  }

  &:hover {
    .controls {
      transform: translateY(0);
    }
  }
}