//bs-section
.bs-section{
    padding: 8rem 0;
    position: relative;
    @include mq-below($xs){
        padding: 3rem 0;
    }

    &.sec-last{
        padding-bottom: 20rem;
        @include mq-below($xs){
            padding-bottom: 3rem;
        }
    }

    .sec-title{
        @include font-source-sans(4.8rem,5.2rem, $font1, $font-smbold, $clr-base, uppercase);
        letter-spacing: 0.4rem;
        @include mq-below($xs){
            font-size: 1.6rem;
            line-height: 2.2rem;
            letter-spacing: 0.2rem;
        }

        &.typ-lg{
            @include font-source-sans(8.4rem,8.8rem, $font1, $font-medium, $clr-base, uppercase);
            letter-spacing: 1.6rem;

            @include mq-below($xs){
                @include font-source-sans(3.2rem, 4rem);
            }
        }
    }

    .sec-head{
        margin-bottom: 8rem;
        @include mq-below($xs){
            margin-bottom: 3rem;
        }
    }

    &.typ-infography{

        .bs-infography{
            .img-wrap{
                position: absolute;
                right: 0;
                @include mq-below($xs){
                    margin-top: 3rem;
                    position: relative;
                    right: -1.5rem;
                }
            }
        }

    }

    &.typ-center{
        .sec-head{
            text-align: center;
        }
    }

    &.typ-gradiant-orange{
        &:before{
            content:'';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: -1;
            background: rgba(0,0,0,1);
            background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(145,86,18,0.94) 54%, rgba(150,89,19,0.94) 56%, rgba(150,89,19,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(54%, rgba(145,86,18,0.94)), color-stop(56%, rgba(150,89,19,0.94)), color-stop(100%, rgba(150,89,19,1)));
            background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(145,86,18,0.94) 54%, rgba(150,89,19,0.94) 56%, rgba(150,89,19,1) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(145,86,18,0.94) 54%, rgba(150,89,19,0.94) 56%, rgba(150,89,19,1) 100%);
            background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(145,86,18,0.94) 54%, rgba(150,89,19,0.94) 56%, rgba(150,89,19,1) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(145,86,18,0.94) 54%, rgba(150,89,19,0.94) 56%, rgba(150,89,19,1) 100%);
            filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#965913', GradientType=0 )";
        }
    }
}