//bs-section
.bs-section{
    padding: 8rem 0;
    position: relative;

    &.sec-last{
        padding-bottom: 20rem;
    }

    .sec-title{
        @include font-source-sans(4.8rem,5.2rem, $font1, $font-smbold, $clr-base, uppercase);
        letter-spacing: 0.4rem;

        &.typ-lg{
            @include font-source-sans(8.4rem,8.8rem, $font1, $font-medium, $clr-base, uppercase);
            letter-spacing: 1.6rem;
        }
    }

    .sec-head{
        margin-bottom: 8rem;
    }

    &.typ-infography{

        .bs-infography{
            .img-wrap{
                position: absolute;
                right: 0;
            }
        }

    }

    &.typ-center{
        .sec-head{
            text-align: center;
        }
    }
}