//bs-service
.bs-service {
    display: flex;
    align-items: center;
    position: relative;

    // @include mq-below($xs) {
    //     flex-direction: column;

    // }

    .title {
        @include font-source-sans(8rem, 8.4rem, $font1, $font-bold, $clr-base, uppercase);
        margin-bottom: 8rem;
        position: relative;
        z-index: 2;

        @include mq-below($xs) {
            @include font-source-sans(1.2rem, normal);
            margin-bottom: 2rem;
        }
    }

    .feature-item {
        @include font-source-sans(2.8rem, 3.2rem, $font1, $font-smbold, $clr-primary, uppercase);
        letter-spacing: 0.3rem;

        @include mq-below($xs) {
            @include font-source-sans(1rem, 1.6rem);
            letter-spacing: normal;
        }
    }

    .water-mark {
        @include font-source-sans(28rem, 35rem, $font1, $font-xbold, $clr-primary, uppercase);
        font-style: italic;
        opacity: 0.2;

        @include mq-below($xs) {
            @include font-source-sans(3.3rem, 3.8rem);
        }
    }

    .img-wrap {
        max-width: 80rem;

        @include mq-below($xs) {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
                @include background-opacity($clr-root, 0.2);
            }
        }




    }

    .feature-list {
        margin-bottom: 5rem;
        position: relative;

        @include mq-below($xs) {
            margin-bottom: 2rem;
        }

        .feature-item {
            display: inline-flex;
            align-items: center;

            &:after {
                content: '';
                width: 1rem;
                height: 1rem;
                border-radius: 100%;
                background-color: $clr-primary;
                margin: 0 1.5rem;

                @include mq-below($xs) {
                    width: 0.5rem;
                    height: 0.5rem;
                    margin: 0 0.5rem;
                }

            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }

    .info-wrap {
        position: relative;

        @include mq-below($xs) {
            padding: 0 1.6rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
        }

        .water-mark {
            position: absolute;
            z-index: 1;
        }
    }

    .btn {
        @include mq-below($xs) {
            position: relative;
            z-index: 3;
        }
    }

}