//bs-tile
.bs-tile{
    height: 40.8rem;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;

    @include mq-below($xs){
        height: 13rem;
        width: 100%;
    }

    &:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(4, 27, 57, 0.42);
        z-index: 1;
    }

    &.setBgSrc{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .text-wrap{
        position: absolute;
        z-index: 2;
        left: 5rem;
        right: 5rem;
        bottom: 4rem;
        @include mq-below($xs){
            left: 1rem;
            right: 1rem;
            bottom: 1rem;
        }
    }

    .title{
        @include font-source-sans(6rem,6.4rem, $font1, $font-bold, $clr-base, uppercase);
        font-style: italic;
        @include mq-below($xs){
            font-size: 1.6rem;
            line-height: 2rem;
        }
    }

    .link{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon{
            font-size: 7rem;
            @include mq-below($xs){
                font-size: 3rem;
            }
        }

    }

    &.typ1{
        margin-bottom: 2.5rem;
        margin-right: 2.5rem;
        // clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%);
        @include mq-below($xs){
            margin-bottom: 0;
            margin-right: 0;
            clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
        }

        // >div{
        //     >div{
        //         width: 113% !important;
        //         height: 120% !important;
        //     }
        // }
    }
    &.typ2{
        margin-bottom: 2.5rem;
        @include mq-below($xs){
            margin-bottom: 0;
            clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
        }
        // >div{
        //     >div{
        //         width: 110% !important;
        //         height: 120% !important;
        //     }
        // }
    }
    &.typ3{
        clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
        @include mq-below($xs){
            clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
        }
        // >div{
        //     >div{
        //         width: 140% !important;
        //         height: 101% !important;
        //     }
        // }
    }
    &.typ4{
        clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
        @include mq-below($xs){
            clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
        }
        // >div{
        //     >div{
        //         width: 140% !important;
        //         height: 100% !important;
        //     }
        // }
    }
    &.typ5{
        clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%);
        @include mq-below($xs){
            clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
        }
        // >div{
        //     >div{
        //         width: 140% !important;
        //         height: 110% !important;
        //     }
        // }
    }

    &:hover{
        transform: scale(1.03);
    }   
    
    &.typ-video{

        &:hover{
            transform: scale(1);
        }  
    }

    .img-wrap {
        img{
            @include mq-below($xs) {
                width: 100%;
                min-height: 13rem;
            }
        }
    }
}