//bs-header
.bs-header{
    padding: 3.5rem 0;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all 0.5s ease;
    @include mq-below($xs){
        padding: 0.5rem 0;
    }
    
    &.header-blur{
        backdrop-filter: blur( 30px );
        -webkit-backdrop-filter: blur( 30px );
        @include background-opacity($clr-root, 0.5);
    }

    .cm-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo{
        max-width: 15rem;
        transition: all 0.5s ease;
        @include mq-below($xs){
            max-width: 4rem;
        }
    }

    .menu-btn{
        span{
            display: block;
            width: 3.6rem;
            height: 2px;
            background-color: $clr-primary;
            margin-bottom: 1.2rem;
            @include mq-below($xs){
                width: 2rem;
                margin-bottom: 0.5rem;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    &.header-scroll{
        padding: 2rem 0;
        @include mq-below($xs){
            padding: 0.5rem 0;
        }

        .logo{
            max-width: 10rem;
            @include mq-below($xs){
                max-width: 4rem;
            }
        }
    }
}