.bs-videoplayer {
  .playerWrapper {
    margin-bottom: 2rem;
    position: relative;
    >div {
      min-height: 72rem;
    }

    .action-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .icon {
        font-size: 9rem;
        color: $clr-primary;
      }
    }
  }

  .play-controls-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left-cont {
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}