//bs-form
.bs-form{
    max-width: 135rem;

    .form-wrap{
        display: flex;
        align-items: flex-start;
        margin: 0 -3rem 8rem -3rem;
        flex-flow: row wrap;
        box-sizing: border-box;

        @include mq-below($xs) {
            flex-direction: column;
            margin: 0 -3rem 2rem -3rem;
        }

        .form-group{
            width: 33.33%;
            padding: 0 3rem;
            margin-bottom: 4rem;

            @include mq-below($xs) {
                width: 100%;
                margin-bottom: 2rem;
            }

            &.typ-full{
                width: 66.66%;

                @include mq-below($xs) {
                    width: 100%;
                }
            }
        }
    }

    .form-group{
        &.error{
            .form-control{
                border-color: $clr-error;
            }
        }
    }

    .form-control{
        width: 100%;
        background: transparent;
        border-radius: 0;
        border-bottom: 1px solid $clr-primary;
        transition: all 0.3s ease;
        &:not(textarea){
            height: 4rem;
        }
        @include font-source-sans(2.4rem,3.2rem, $font1, $font-regular, $clr-base, initial);

        @include mq-below($xs) {
            @include font-source-sans(1.2rem, 1.6rem);
        }

        @include placeholder{
            @include font-source-sans(2.4rem,3.2rem, $font1, $font-light, $clr-base, uppercase);

            @include mq-below($xs) {
                @include font-source-sans(1.2rem, 1.6rem);
            }
        }

        &.typ-readonly{
            background-color: $clr-primary;
            text-align: center;
            opacity: 0.8;
        }

    }

    textarea{
        &.form-control{
            border:1px solid $clr-primary;
            padding: 3rem;
        }
    }

}