//bs-pattern
.bs-pattern{
    position: relative;

    &:before{
        content:'';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0.5;
    }

    &.pattern-orange{
        
        &:before{
            background: url('../../../../assets/images/pattern-orange.svg') no-repeat 0 0 transparent;
        }
    }

    &.pattern-blue{
        &:before{
            background: url('../../../../assets/images/pattern-blue.svg') no-repeat 0 0 transparent;
        }
    }

    &.patter-pos-1{
        &:before{
            background-size: 165%;
            background-position: 55% 30%;
        }
    }

    &.patter-pos-2{
        &:before{
            background-size: 165%;
            background-position: 55% 70%;
        }
    }

}