//bs-header
.bs-header{
    padding: 3.5rem 0;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all 0.5s ease;
    
    &.header-blur{
        backdrop-filter: blur( 30px );
        -webkit-backdrop-filter: blur( 30px );
    }

    

    .cm-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        max-width: 15rem;
        transition: all 0.5s ease;
    }
    .menu-btn{
        span{
            display: block;
            width: 3.6rem;
            height: 2px;
            background-color: $clr-primary;
            margin-bottom: 1.2rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &.header-scroll{
        padding: 2rem 0;

        .logo{
            max-width: 10rem;
        }
    }
}